
body{
    font-size:20px;
    text-align:center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-image: url("HD-wallpaper-ubuntu-linux-minimal-ubuntu-linux-computer.jpg");
    background-repeat: no-repeat;
    color:white;
}